.ai-ti-wrapper{
  & .ai-ti-dialog{
  display:flex;box-shadow: 0 2px 8px 0 #D6E2EF;border-radius: 10px;
  & .ai-ti-inner{
      padding:12px 12px 0 12px;font-family: PingFangSC-Regular;font-size: 16px;color: #666;line-height:22px;width:100%;position:relative;color:#999;
        & .ai-ti-header{
          position:relative;padding-bottom:12px;padding-left:4px;
          &:before{
            content:'';position:absolute;left:-10px;right:-10px;height:1px;background-color:#e5e5e5;bottom:0;
          }
        }
        & .title_fill{
            color:#333;
        }
        & .ai-ti-content{
           padding-top:4px;padding-bottom:16px;padding-left:4px;
        }
        & .ai-ti-footer{
           display:flex;flex-direction:row;position:relative;align-items:center;justify-content:flex-end;padding-top:10px;padding-bottom:9.5px;
           font-family: PingFangSC-Regular;padding-right:4px;
           &:before{
              content:'';position:absolute;top:0;height:1px;background-color:#e5e5e5;left:-12px;right:-12px;transform:scaleY(.5);
           }
           & > span{
               padding:8px 14px;border-radius: 15px;font-size:14px;
               &.ai-ti-left{
                  color: #333;text-align: center;line-height: 14px;border: 1px solid #E5E5E5;
               }
               &.ai-ti-right{
                  position:relative;font-size: 14px;color: #FFF;text-align: center;line-height: 14px;background: #4598F0;margin-left:12px;
               }
           }
        }
  }
}
   & .ai-ti-say{
      width:100%;
      margin-top:16px;color:#333;
   }
}