.ai-sl-wrapper{
	display: inline-flex;background: #FFFFFF;box-shadow: 0 2px 8px 0 #C3D3E4;border-radius: 10px;
    & .ai-sl-inner{
    	height:250px;overflow: hidden;width:315px;float:left;position: relative;
    	& > li{
    		width:100%;list-style: none;float:left;position: absolute;top:0;height: 100%;
    	}
    }	
}